@media (max-width: 1255px) {
  .inner-container {
    padding-left: 6rem;
  }

  .con-header {
  }

  .btn-project:hover {
    background-color: rgb(196, 213, 251);
  }

  .logo {
    margin-left: 2rem;
  }

  .btn-hire-project {
    margin-left: 6.5rem;
  }
}

@media (max-width: 1120px) {
  .header {
    max-width: 110rem;
  }

  .container-hero {
    left: 61%;
  }

  .inner-container {
    width: 60%;
    color: #fff;
    /* border: 1px solid #000; */
    margin-left: 6rem;
  }

  .inner-container h1 {
    font-size: 4.2rem;
    font-weight: 600;
  }

  .inner-container p {
  }

  .btn-project:link {
  }

  .btn-hire-project {
    /* margin-left: 8rem; */
  }

  .about-col-1 {
    margin-left: 1.5rem;
  }
}

@media (max-width: 924px) {
  .header {
    max-width: 92.4rem;
  }

  .inner-container {
    width: 70%;
  }

  .btn-hire-project {
  }
}
@media (max-width: 867px) {
  .header {
    max-width: 86.7rem;
  }

  .container-hero {
    padding: 0 5rem;
    left: 60%;
    top: 52%;
  }

  .inner-container h1 {
    font-size: 4rem;
    /* padding: 2.5rem; */
  }

  .inner-container p {
    font-size: 2.2rem;
    /* padding: 1rem; */
  }

  /* ABOUT SECTION */
  .about-col-1 {
    flex-basis: 40%;
  }

  .row {
    padding-right: 4rem;
  }
}

@media (max-width: 760px) {
  .header {
    max-width: 76rem;
  }

  .main-nav-list {
    gap: 3.6rem;
  }

  .container-hero {
    left: 62%;
    top: 57%;
  }

  .inner-container h1 {
    font-size: 3.5rem;
    /* padding: 2.5rem; */
  }

  .inner-container p {
    /* padding: 2rem; */
  }

  .inner-container {
    max-width: 75rem;
  }

  .about-col-1 {
    flex-basis: 44%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 58%;
  }

  .header {
    max-width: 78rem;
  }

  /* .main-nav {
    display: none;
  } */

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 700;
    transform: translateY(-100%);
    transition: all 0.3s ease-in;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }

  .mobile-nav .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    font-size: 3rem;
  }

  .mobile-nav .main-nav-link:link {
    font-size: 3rem;
    padding: 1.5rem 15rem;
  }

  .mobile-nav .main-nav-link:link:hover {
  }

  .mobile-nav .main-nav ul {
    width: 100%;
  }

  .mobile-nav .btn-open-nav {
    display: none;
  }

  .mobile-nav .btn-close-nav {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    font-weight: 700;
    font-size: larger;
  }

  .inner-container {
    max-width: 60%;
    /* padding-left: 10rem; */
  }

  .container-hero {
    left: 66%;
  }

  .btn-hire-project {
    display: flex;
    justify-content: center;
  }

  .btn-mobile-nav {
    display: block;
  }

  /* ****  About section ****** */

  .about-col-1 {
    flex-basis: 60%;
  }

  .tab-contents ul li {
    font-size: 2.3rem;
  }

  .tab-links {
    font-size: 2.5rem;
  }

  .layer {
    font-size: 2.1rem;
    line-height: 1.4;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 54.5%;
  }
  .container-hero {
    text-align: center;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .mobile-nav .main-nav-link:link {
    font-size: 2.4rem;
    padding: 1.5rem 10rem;
  }

  .btn-hire-project {
    text-align: center;
    margin: 0;
  }

  .btn {
    font-size: 2.4rem;
  }
  .container-hero {
    left: 70%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }

  .main-nav-list {
    gap: 2.6rem;
  }

  .con-header {
    max-width: 80rem;
    height: 80rem;
  }

  .container-hero {
    text-align: center;
    left: 82%;
    top: 50%;
  }

  .inner-container h1 {
  }

  .inner-container p {
  }

  .btn-hire-project {
    flex-direction: column;
  }

  .inner-container {
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .con-header {
    background: linear-gradient(
      to right,
      rgb(34, 82, 82),
      rgba(0, 0, 0, 0.744)
    );
  }

  /* ******** About section  ************ */
  .row {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .about-col-1 {
    margin: 0 auto;
    margin-left: 5rem;
    margin-bottom: 3rem;
  }

  .about-col-2 {
    padding: 0 2rem 0 2rem;
  }

  .worklist {
    grid-gap: 9rem;
  }

  .layer {
    font-size: 2rem;
    line-height: 1.4;
  }
}

@media (max-width: 450px) {
  .container-hero {
    text-align: center;
    left: 99%;
  }
  .inner-container {
    max-width: 45rem;
    padding-left: 6rem;
    padding: 0 3rem;
  }

  .inner-container h1 {
    /* padding: 0; */
    padding-bottom: 2rem;
  }

  .con-header {
  }
}

@media (max-width: 405px) {
  .inner-container {
    font-size: 2rem;
    width: 56rem;
  }

  .con-header {
    height: 85rem;
  }

  .container-hero {
    text-align: center;
    /* padding: 3rem; */
    left: 102%;
    top: 50%;
  }

  .btn-hire-project {
    /* margin-left: -2.5rem; */
  }

  .layer {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

@media (max-width: 376px) {
  .container-hero {
    text-align: center;
    left: 110%;
    top: 52%;
  }

  .inner-container {
    max-width: 42rem;
  }
}
