@media (max-width: 1255px) {
  /* .btn-project:hover {
    background-color: rgb(196, 213, 251);
  } */

  /* .btn-hire-project {
    margin-left: 6.5rem;
  } */
}

@media (max-width: 1120px) {
  .container-hero {
  }

  .inner-container h1 {
  }

  .about-col-1 {
    margin-left: 1.5rem;
  }
}

@media (max-width: 924px) {
  /* .inner-container {
    width: 100%;
  } */

  .about-me {
    gap: 2rem;
  }
}
@media (max-width: 867px) {
  .header {
    max-width: 86.7rem;
  }

  .inner-container h1 {
    /* padding: 2.5rem; */
  }

  /* ABOUT SECTION */
  .about-col-1 {
    flex-basis: 40%;
  }

  .row {
    padding-right: 4rem;
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .header {
    max-width: 76rem;
  }

  .main-nav-list {
    gap: 3.6rem;
  }

  .inner-container h1 {
    /* padding: 2.5rem; */
  }

  .about-col-1 {
    flex-basis: 44%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 58%;
  }

  /* .main-nav {
    display: none;
  } */

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 700;
    transform: translateY(-100%);
    transition: all 0.3s ease-in;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }

  .mobile-nav .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    font-size: 3rem;
  }

  .mobile-nav .main-nav-link:link {
    font-size: 3rem;
    padding: 1.5rem 15rem;
  }

  .mobile-nav .main-nav-link:link:hover {
  }

  .mobile-nav .main-nav ul {
    width: 100%;
  }

  .mobile-nav .btn-open-nav {
    display: none;
  }

  .mobile-nav .btn-close-nav {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    font-weight: 700;
    font-size: larger;
  }

  .btn-hire-project {
    display: flex;
    justify-content: center;
  }

  .btn-mobile-nav {
    display: block;
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }

  /* ****  About section ****** */

  .about-col-1 {
    flex-basis: 60%;
  }

  .tab-contents ul li {
    font-size: 2.3rem;
  }

  .tab-links {
    font-size: 2.5rem;
  }

  .layer {
    font-size: 2.1rem;
    line-height: 1.4;
  }

  .about-me {
    /* background: red; */
    padding: 0 0.6rem;
    gap: 1.8rem;
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 54.5%;
  }
  .container-hero {
    text-align: center;
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .mobile-nav .main-nav-link:link {
    font-size: 2.4rem;
    padding: 1.5rem 10rem;
  }

  .btn-hire-project {
    text-align: center;
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }

  .btn {
    font-size: 2.4rem;
  }

  .about-me {
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }

  .main-nav-list {
    gap: 2.6rem;
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }

  .con-header {
  }

  .container-hero {
    text-align: center;
  }

  .btn-hire-project {
    flex-direction: column;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .con-header {
    background: linear-gradient(
      to right,
      rgb(34, 82, 82),
      rgba(0, 0, 0, 0.744)
    );
  }

  .about-me {
    gap: 2.2rem;
  }

  /* .inner-container h1 {
    background-color: red;
  }

  .inner-container {
    background-color: green;
  }

  .inner-container p {
    background-color: blue;
  } */

  /* ******** About section  ************ */
  .row {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .about-col-1 {
    margin: 0 auto;
    margin-left: 5rem;
    margin-bottom: 3rem;
  }

  .about-col-2 {
    padding: 0 2rem 0 2rem;
  }

  .worklist {
    grid-gap: 9rem;
  }

  .layer {
    font-size: 2rem;
    line-height: 1.4;
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .inner-container {
  }

  .about-me {
    gap: 0.8rem;
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }
}

@media (max-width: 405px) {
  .inner-container {
  }

  .layer {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .about-me {
  }

  .inner-container h1 {
    width: 100%;
  }

  .inner-container p {
    width: 100%;
  }
}

@media (max-width: 376px) {
}
