* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 3%;
  color: #fff;
}

.btn-mobile-nav {
  display: none;
  z-index: 3;
}

.btn-close-nav {
  display: none;
}

button {
  background: none;
}

.btn:link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.8rem 1rem;
  /* background-color: #225252; */

  padding: 1rem 2rem;
  font-size: 2.2rem;
  font-weight: 500;
}

.btn {
  color: #fff;
}

.btn {
  border-radius: 2rem;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.btn-project {
  background-color: rgba(255, 255, 255, 0.703);
  color: #000;
}

.btn-hire:link {
  color: #fff;
}

.btn:hover {
  background-color: rgba(196, 213, 251, 0.601);
  color: #000;
}

.logo {
  font-size: 3.2rem;
  font-weight: 700;
  background-color: rgb(1, 30, 87);
  padding: 1rem 2rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  font-size: 16px;
  border: none;
  gap: 4.8rem;
  text-decoration: none;
  font-size: 1.6rem;
  list-style: none;
  font-weight: 500;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  /* color: #333; */
  /* font-weight: 500; */
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover {
  /* border: 1px solid #fff; */
  color: #fff;
  background-color: #011e57;
}

.main-nav-link {
  text-decoration: none;
  color: #fff;
  /* color: #000; */
}

.last-nav-link {
  background-color: #225252;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.con-header {
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: linear-gradient(to right, rgb(34, 82, 82), rgba(0, 0, 0, 0.714)),
    url(images/Screenshot_20231126-111.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;

  padding-top: 3rem;
}

/*********************************************/
/* ****************  Hero section ************************ */

.container-hero {
  font-size: 24px;

  /* color: rgb(196, 213, 251); */
  color: #fff;
  text-align: center;
}

.inner-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.inner-container h1 {
  margin-bottom: 3rem;
  line-height: 1.3;
  padding: 0 3%;
}

.inner-container p {
  padding: 0 3%;
  color: rgb(235, 241, 254);
  margin-bottom: 5rem;
}

h1 span {
  background-color: rgb(1, 30, 87);
  color: rgb(1, 30, 87);
  color: #fff;
  border: 1px solid transparent;
  letter-spacing: 2px;
}

/************* ABOUT SECTION******************/
.section-about {
  margin-top: 20rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

#about {
  color: #000;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 90%;
  border-radius: 1.5rem;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 4rem;
  font-weight: 700;
  /* color: #fff; */
  color: rgb(1, 30, 87);
  text-align: center;
  margin-bottom: 3rem;
}

.sub-title-desrription {
  font-size: 2.5rem;
}

.tab-titles {
  display: flex;
  gap: 18px;
  margin: 2rem 0 4rem;
  font-size: 4rem;
}

.tab-links {
  margin-right: 5px;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(1, 30, 87);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
  background-color: rgb(1, 30, 87);
}

.tab-contents ul li {
  list-style: none;
  margin: 2rem 0;
  font-size: 2rem;
}

.years {
  font-weight: 500;
  font-size: 2.2rem;
}

.tab-contents ul li span {
  color: #011e57;
  font-size: 2.2rem;
  font-weight: 500;
  /* padding-bottom: 1.5rem; */
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* **************** Section MYWORK ********************* */

.section-portfolio {
  margin-top: 20rem;
  padding: 0 3rem;
}

#portfolio {
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto;

  grid-gap: 4rem;
  margin-top: 5rem;
  /* background-color: red;
  color: blue; */
}

.work {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 7px 3px 8px rgba(85, 85, 85, 0.487);
}

.work:hover {
  box-shadow: 10px 7px 15px;
}

.work img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;

  background-color: rgb(196, 213, 251);
  font-size: 2.2rem;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: -40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  text-align: center;
  transition: 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.layer h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.layer p span {
  color: red;
}

.sticky nav {
  position: fixed;
  top: 0;
  padding: rem 8rem;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(22, 17, 17, 0.889);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 12rem;
}

.layer a:link {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.8rem;
  background-color: rgb(1, 30, 87);
  color: #fff;
  width: 22rem;
  /* border-radius: 50%; */
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work-link {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  padding-top: 0 1.7rem;
  font-weight: 600;
}

.work:hover .layer {
  height: 110%;
  box-shadow: none;
}

.rest {
  display: none;
}

.mywork-btn {
  display: block;
  margin: 5rem auto;
  width: fit-content;
  font-size: 2rem;
  padding: 1.4rem 5rem;
  border-radius: 6rem;
  text-decoration: none;
  color: #fff;
  background-color: rgb(12, 49, 49);
}

/* **************** About ME *************************** */

#Contact-me {
  padding-top: 20rem;
}

.container-contact {
  max-width: 100%;
  /* height: 80rem; */
  display: flex;
  justify-content: center;
}

.profile-cart {
  max-width: 120rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 3rem;
  margin-top: 5rem;
  padding-bottom: 8rem;
}

.details-box div {
  width: 20rem;
  /* border: 1px solid black; */
}

.details-box p {
  width: 100%;
  border: 2px solid black;
}

.head-greet {
  text-align: center;
  margin-bottom: 2rem;
  display: inline-block;
}

.description-header {
  font-weight: 600;
  font-size: 2.4rem;
}

.prof-img img {
  width: 100%;
  /* height: 12rem; */
}

.label {
  display: flex;
  gap: 7rem;
  align-items: center;
}

.label a:link {
  text-decoration: none;
  color: #000;
}

.label h3 {
  width: 25rem;
  font-size: 2.6rem;
}

.description {
  margin-top: 4rem;
  font-size: 2.1rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 2.4rem;
}

@media (max-width: 799px) {
  .about-me {
    font-size: 2.1rem;
  }
}

@media (max-width: 602px) {
  .profile-cart {
    gap: 0;
  }
  .photo-box {
    justify-content: center;
  }

  .prof-img img {
    width: 70%;
  }

  .label {
    gap: 2rem;
  }

  .label h3 {
    width: 15rem;
  }

  .social-link {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 542px) {
  .profile-cart {
    flex-direction: column;
  }

  .about-me {
    font-size: 1.8rem;
  }

  .label {
    gap: 2rem;
    padding: 0 3rem;
  }

  .description {
    display: none;
    position: absolute;
  }

  .label h3 {
    width: 15rem;
  }

  .label p {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .label {
    gap: 3rem;
    padding: 0 3rem;
  }

  .about-me {
    font-size: 1.6rem;
  }

  .label h3 {
    width: 11rem;
  }
}

@media (max-width: 380px) {
  .label {
    margin-left: 6rem;
  }
}
